<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appName" value="console-default"/>
    <add key="url" value="http://localhost:8080/"/>
    <add key="email" value="default@localhost.com"/>
  </appSettings>

  <connectionStrings configSource="connectionStrings.config" />

</configuration>