@model System.Collections.Generic.IDictionary<string, string>

@{
    ViewBag.Title = "Settings";
}

<h2>App Settings</h2>
<ul>
    @foreach (var key in Model.Keys) {
        <li>
            @key - <em>@Model[key]</em>
        </li>
    }
</ul>
